.wrapper {
  position: relative;
  display: flex;
  justify-content: start;
  gap: 60px;
  margin: 100px 15px;
}

.main {
  width: 45%;
}

.sidebar {
  position: sticky;
  top: 30px;
  right: 0;

  width: 45%;
  height: fit-content;
  margin-left: 15px;
  padding: 30px;
  box-shadow: 1px 1px 6px #ccc;
  background: #fff;
}

@media screen and (min-width:1400px) {
  .wrapper{
    max-width: 1400px;
    margin: 100px auto;
  }
}