p {
  margin: 0;
}

.preview-right{
  width: 40%;
  padding: 0 50px;
  font-size: 13px;
}

.preview-own-no{
  position: relative;
}

.preview-own-no p{
  margin-bottom: 15px;
}

.preview-stamp-img{
  position: absolute;
  top: -30px;
  right: 0px;

  width: 80px;
  height: 80px;
  object-fit: contain;
}

.preview-own-company-info p{
  margin-top: 15px;
}

.preview-oen-company-name{
  height: 24px;
  font-size: 15px;
  font-weight: bold;
}

.preview-own-company-info .preview-oen-company-address{
  height: 40px;
  margin-top: 0;
}